

body {
    background-color: #f2b3cc;
}

ol {
    list-style-type: upper-roman;
}
ul {
    list-style-type: square;
}
.img-list-style {
    list-style-image: url(http://upload.wikimedia.org/wikipedia/commons/1/19/Icons-mini-icon_attachment.gif);
}